.menuDashboards__container {
    margin-top: 2vh;
    padding-left: 5vw;
    display: flex;
    width: 100%;
    height: 5vh;
    align-items: center;

}

.menuDashboards__diviction{
    height: 40%;
    width: 0.15vw;
    margin: 0 1vw 0 1vw;

    background-color: #C4C4C4;
}

.menuDashboards__container p{
    margin: 0;
    text-transform: lowercase;
}

.menuDashboards__container p::first-letter{
    text-transform: uppercase;
}

.menuDashboards__nameContent p{
    margin-right: 1vw;
}

.menuDashboards__openSans_blue {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: #02457A;
    font-size: 2vh;
    letter-spacing: 0.055vw;
}

.menuDashboards__openSans_light {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    color: #9B9B9B;
    font-size: 1..5vh;
    letter-spacing: 0.055vw;
}

.menuDashboards__description {
    width: 40%;
    
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.menuDashboards__nameContent{
    display: flex;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 0.5vh 1vh 0.5vh 1vh;
    cursor: pointer;
}

.dropdown-menu{
    border-radius: 0;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    top: 1vh !important;
    border: none;
}