.confirmationEmail__container{
    height: 100vh;
}

.confirmationEmail__textContainer{
    padding-top: 6vh;
    padding-left: 5%;

    display: flex;
    flex-direction: column;
    justify-content:space-between;
    height: 50%;
    
}

.confirmationEmail__textContainer p{
    margin: 0;
}

.textContainer__h1{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color:#02457A;
    font-size: 10vh;
    letter-spacing: 0.3vw;

}

.textContainer__h2{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color:#018ABE;
    font-size: 5vh;
    letter-spacing: 0.5vw;
    width: 45vw;
}

.textContainer__Link{
    text-decoration: none;
    transform: translateY(-4vh);
}

.textContainer__Link p{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 2.5vh;
    color: #02457A;
    cursor: pointer; 
}

/* Image */
.confirmationEmail__Image{
    position: absolute;
    right: 0vw;
    bottom: 0vh;
    width: 80vw;
    max-width: 70%;
}

.confirmationEmail__Image img{
    width: 100%;
}