<div class="container">
    <h1>Nuevo Tablero</h1>
    <center>
        <br> <br>
    <form action="/dashboards/new" method="POST">
        Nombre  <br> <input type="text" name="name"> <br> <br>
        <input type="submit" value="crear tablero">
    </form>
    <br>

    </center>
</div>