<div class="container">
    <center>
        <br> <br>
    <form action="/auth/login" method="POST">
        Email  <br> <input type="text" name="email"> <br>
        Password  <br><input type="password" name="password"> <br> <br>
        <input type="submit" value="iniciar sesion">
    </form>
    </center>
</div>