<div class="container">
    <center>
        <br> <br>
    <form action="/auth/signup" method="POST">
        Email  <br> <input type="text" name="email"> <br>
        Nombre <br> <input type="text" name="name"> <br>
        Nickname <br> <input type="text" name="nickname"> <br>
        Password  <br><input type="password" name="password"> <br> <br>
        <input type="submit" value="Registrame">
    </form>
    </center>
</div>
